# Ignore Play! working directory #
*.eml
.cache
.eclipse
.classpath
.settings/
.sbtserver/
.classpath/
.DS_Store
/db
bin/
dist/
lib/
logs/
modules/
project/project/
project/target/
project/.sbtserver
server.pid
target/
test-result
tmp/
app/views/.DS_Store

