.container{
      padding: 60px 120px;
  }

  
.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 200px;
    height: 200px;
    opacity: 2.0;
}

.person:hover {
    border-color: #f1f1f1;
}

.image-dimensions {
    position: relative;
    width:  300px;
    height: 250px;
}

.carousel-inner img {
    /*-webkit-filter: grayscale(90%);
    filter: grayscale(90%);  make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

.bg-1 {
    background: #ffcc33;/*yellow*/
    color: #bdbdbd;
    margin-left: 30px;
    margin-right:30px;   
}

.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}

.thumbnail {
    border: 1px solid transparent;
    margin-bottom: 15px;
    width: 110%;
    height: 110%;    
}

.thumbnail img:hover {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);  /*make all photos black and white */
    border: 3px solid;
}

.butn {
      padding: 10px 20px ;
      background-color: #ffcc33;
      color: #f1f1f1;
      border-radius: 0;
      margin-left: 2px;
      transition: .3s;
}
  
.nav-tabs li a {
      color: #ffcc33;
      opacity: 0.5;
}
  
  /* Add a dark background color with a little bit see-through */ 
.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.9;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 22px;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}

.retailer-heading {
  padding:50px;
}

.container-images{
      padding: 50px;
  }
  
  .container-inbox{
      padding: 30px;
  }
  
.panel-default > .panel-heading {
  color: #fff;
  background-color: #ffcc33;
  border-color: #ddd;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.panel-heading a {
	color: #fff;
}

.green{
  color: #008000;
}

.red{
  color: #FF0000;
}


thead th {
  background-color: #ffcc33;
  color: white;
}

table {
  border-collapse: separate;
  border-spacing: 0 5px;
}

tr td:first-child,
tr th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

tr td:last-child,
tr th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.inbox-heading {
 
     margin-left: 50px;
}

.container-signUp{
	  background-color: #ffcc33;
      margin-left: 350px;
      margin-right: 350px;
  }
  
.form-input {
     padding:20px;
     margin-right:50px; 
     margin-left: 50px;
}

.form-heading {
     padding:20px;
     margin-right: 100px; 
     margin-left: 160px;
}

.button-signup{
	width:90px;
	height:40px;
	color: #fff;
    background-color: #3D3C3A;
    border-color: #3D3C3A;
    border-radius:10px;
	margin-left:130px;
}

.button-search{
	width:40px;
	height:35px;
	color: #fff;
    background-color: #3D3C3A;
    border-color: #3D3C3A;
    border-radius:10px;
    margin-left:120px;
	
}

.bg-2 {
    background: #ffcc33;/*yellow*/
    color: #bdbdbd;
    margin-left: 30px;
    margin-right:30px;   
    margin-below: 20px;
    padding-below: 30px;
}

.bg-2 h1{
	color: #fff;
}

.searchbar {
	padding-top: 15px;
}





