@(categoryArray: List[String])

@main("AROID:Explore,Visualize") {

<!DOCTYPE html>
<!-- html lan="en">
<head>
<title>User Screen</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <style>
  .panel-default > .panel-heading {
  color: #fff;
  background-color: #ffcc33;
  border-color: #ddd;
}
  </style>
</head>

<body -->
<script type="text/javascript">
function redirectfunc(category)
{//alert(category);
sessionStorage.setItem('category', category);
window.location = '/user_products/'+category;
} 
</script>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">AROID</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
       <li ><a href="http://localhost:9000/" >Home</a></li>
        <li class="active"><a href="#">CATALOG</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span>USER</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> SIGN OUT</a></li>
      </ul>
    </div>
  </div>
</nav>
<div id="gallery" class ="bg-1">
<div class="container">
<h3 class = "text-center">SELECT A CATEGORY</h3>
  
  @for(category <- categoryArray) { 
 
  <div class="list-group">
    <a onclick=redirectfunc(this.innerHTML) href="#" class="list-group-item">@category</a>
   
  </div>
  }
</div>
</div>
</div>
</div><br><br>
}
