@(userName: String,categoryArray: List[String],list:List[ProductDetails])

@main("AROID:Explore,Visualize") {

<!DOCTYPE html>
<!-- html lan="en">
<head>
<title>User Screen</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <style>
  .panel-default > .panel-heading {
  color: #fff;
  background-color: #ffcc33;
  border-color: #ddd;
}
  </style>
</head>

<body -->
<script type="text/javascript">
function redirectfunc(category)
{//alert(category);
sessionStorage.setItem('category', category);
window.location = '/user_products/'+category;
} 

</script>
<script type="text/javascript">


//var cat = sessionStorage.getItem('category');


var liked;
	


function prodredirectfunc(proid)
{ 
    liked="false";
    var splitValue = proid.split("-")[0];
    
    var categoryValue = "";
    if(splitValue == 'l') {
    	categoryValue = "LivingRoom";
    }else if(splitValue == 'k') {
    	categoryValue = "Kitchen";
    }
    
	window.location = '/product_screen/'+categoryValue+'/'+proid+'/'+liked ;
} 

function likeFunctionPressed(productidvalue)
{ 
     liked="true";
     window.location = '/product_screen/'+cat+'/'+productidvalue+'/'+liked;
    
}

</script>
<script type="text/javascript">
	$(document).ready( function() {
		$('#myCarousel').carousel({
		  interval: 10000
		})

		$('.carousel .item').each(function(){
		  var next = $(this).next();
		  if (!next.length) {
		    next = $(this).siblings(':first');
		  }
		  next.children(':first-child').clone().appendTo($(this));
		  
		  if (next.next().length>0) {
		    next.next().children(':first-child').clone().appendTo($(this));
		  }
		  else {
		  	$(this).siblings(':first').children(':first-child').clone().appendTo($(this));
		  }
		});

	});
</script>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">AROID</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
       <li ><a href="http://localhost:9000/" >Home</a></li>
        <li class="active"><a href="@routes.Application.listofCategories()">CATALOG</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span>@userName</a></li>
        <li><a href="@routes.Application.logout()"><span class="glyphicon glyphicon-log-in"></span> SIGN OUT</a></li>
      </ul>
    </div>
  </div>
</nav>
<div id="gallery" class ="bg-1">
<div class="container">
<h3 class = "text-center">SELECT A CATEGORY</h3>
  
  @for(category <- categoryArray) { 
 
  <div class="list-group">
    <a onclick=redirectfunc(this.innerHTML) href="#" class="list-group-item">@category</a>
   
  </div>
  }
</div>
</div>
</div>
</div><br><br>

@if(list.length !=0){
 <div class="col-md-12 text-center"><h3>Similar users also liked: </h3></div>
 <div class="col-md-6 col-md-offset-3">
	<div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="3000" id="myCarousel" style="width:700px" >
  		<div class="carousel-inner">
  
  		@for((l, index) <- list.zipWithIndex){
                            
    		@if(index < 1){
        		<div class="item active" >
            		<div class="col-md-4"><a onclick='prodredirectfunc("@l.productid")'>@l.name<img src=@l.image class="img-responsive"></a></div>
				</div>
                             
        	}else{
        		<div class="item" >
            		<div class="col-md-4"><a onclick='prodredirectfunc("@l.productid")'>@l.name<img src=@l.image class="img-responsive"></a></div>
            	</div>
                             
        	}
    	}
      
	</div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
 </div>
 </div>
}
}
